<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - Stock Data Visualization</title>
    <style>
        .title {
            margin: 5px auto;
            margin-left: 50px;

        }
        .content {
            margin: 5px auto;
            margin-left: 50px;
            background-color: whitesmoke;
            width: 300px;
            border: 15px solid grey;
            padding: 50px;
        }
    </style>
</head>
<body>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>